#my-special-red-paragraph {
    color: red;
  }
  
#my-special-green-h1-header {
    color: green;
  }

#my-special-lightblue-h2-header {
    color: lightblue;
  }

#my-special-red-h3-header {
    color: red;
  }

#my-special-orange-paragraph {
    color: orange;
  }

#my-special-RGB-h2-header {
    color: rgb(150, 250, 0);
  }

#my-special-HEX-h2-header {
    color: #9932CC;
  }