#my-special-red-paragraph {
    color: red;
  }
  


#my-special-green-h1-header {
    color: green;
  }

#my-special-lightblue-h2-header {
    color: lightblue;
  }

#my-special-red-h3-header {
    color: red;
  }

#my-special-orange-paragraph {
    color: orange;
  }



#my-special-RGB-h2-header {
    color: rgb(150, 250, 0);
  }

#my-special-HEX-h2-header {
    color: #9932CC;
  }



#my-special-long-paragraph {
    width: 300px;
  }

#my-table {
    width: 400px;
	height: 300px;
  }

  

#main-h1-title {
    text-align: right;
  }

#secondary-h2-heading {
    text-align: center; 
    width: 300px; 
    margin: 0 auto; /* Центрирование внутри заданной ширины */
  }

#product-table, #cell-table {
    width: 500px; 
  }

#product-table th {
    text-align: left; 
  }

#product-table td, #cell-table td {
    text-align: center; 
  }

#Lorem-ipsum-dolor-sit-amet {
    width: 300px; 
    text-align: justify; 
  }



#Salary-table {
    width: 500px;
	height: 300px;
  }

#Salary-table td {
    font-weight: bold;
    text-align: center;
  }

#Salary-table th {
    font-weight: normal;
  }



#my-special-italicized-h2-header {
    font-style: italic;
  }



#header-h1-37 {
    font-size: 50px;
    text-align: center;
  }

#header-h2-37 {
    font-size: 40px;
    font-weight: normal;
  }

#paragraph-37 {
    font-size: 30px;
  }



#paragraph-38-Times-New-Roman {
    font-family: "Times New Roman";
  }
#paragraph-38-Arial {
    font-family: Arial;
  }
#paragraph-38-Georgia {
    font-family: Georgia;
  }
#paragraph-38-Verdana {
    font-family: Verdana;
  }
#paragraph-38-Trebuchet-MS {
    font-family: "Trebuchet MS";
  }
#paragraph-38-Impact {
    font-family: Impact;
  }
#paragraph-38-Arial-Black {
    font-family: "Arial Black";
  }
#paragraph-38-Comic-Sans-MS {
    font-family: "Comic Sans MS";
  }
#paragraph-38-Courier-New {
    font-family: "Courier New";
  }



#paragraph-39 {
    font-size: 30px;
	line-height: 45px;
  }



#paragraph-40 {
    font-size: 30px;
	line-height: 1.5;
  }



#paragraph-41-1 {
    font: 13px/20px "Times New Roman";
  }

#paragraph-41-2 {
    font: bold 40px Arial;
    width: 300px;
    color: red;
  }

#paragraph-41-3 {
    font: italic bold 40px/60px Arial;
	text-indent: 50px;
  }



#paragraph-42 {
    text-indent: 50px;
  }



  #paragraph-44 {
    text-decoration: underline;
  }



  #paragraph-45 {
    text-decoration: overline;
    color: red;
  }



  #paragraph-46 {
    text-decoration: line-through;
    color: green;
  }



  #link-47 {
    color: red; 
    text-decoration: none;
  }