#my-special-red-paragraph {
    color: red;
  }
  


#my-special-green-h1-header {
    color: green;
  }

#my-special-lightblue-h2-header {
    color: lightblue;
  }

#my-special-red-h3-header {
    color: red;
  }

#my-special-orange-paragraph {
    color: orange;
  }



#my-special-RGB-h2-header {
    color: rgb(150, 250, 0);
  }

#my-special-HEX-h2-header {
    color: #9932CC;
  }



#my-special-long-paragraph {
    width: 300px;
  }

#my-table {
    width: 400px;
	height: 300px;
  }

  

#main-h1-title {
    text-align: right;
  }

#secondary-h2-heading {
    text-align: center; 
    width: 300px; 
    margin: 0 auto; /* Центрирование внутри заданной ширины */
  }

#product-table, #cell-table {
    width: 500px; 
  }

#product-table th {
    text-align: left; 
  }

#product-table td, #cell-table td {
    text-align: center; 
  }

#Lorem-ipsum-dolor-sit-amet {
    width: 300px; 
    text-align: justify; 
  }



#Salary-table {
    width: 500px;
	height: 300px;
  }

#Salary-table td {
    font-weight: bold;
    text-align: center;
  }

#Salary-table th {
    font-weight: normal;
  }



#my-special-italicized-h2-header {
    font-style: italic;
  }



#header-h1-37 {
    font-size: 50px;
    text-align: center;
  }

#header-h2-37 {
    font-size: 40px;
    font-weight: normal;
  }

#paragraph-37 {
    font-size: 30px;
  }



#paragraph-38-Times-New-Roman {
    font-family: "Times New Roman";
  }
#paragraph-38-Arial {
    font-family: Arial;
  }
#paragraph-38-Georgia {
    font-family: Georgia;
  }
#paragraph-38-Verdana {
    font-family: Verdana;
  }
#paragraph-38-Trebuchet-MS {
    font-family: "Trebuchet MS";
  }
#paragraph-38-Impact {
    font-family: Impact;
  }
#paragraph-38-Arial-Black {
    font-family: "Arial Black";
  }
#paragraph-38-Comic-Sans-MS {
    font-family: "Comic Sans MS";
  }
#paragraph-38-Courier-New {
    font-family: "Courier New";
  }



#paragraph-39 {
    font-size: 30px;
	line-height: 45px;
  }



#paragraph-40 {
    font-size: 30px;
	line-height: 1.5;
  }



#paragraph-41-1 {
    font: 13px/20px "Times New Roman";
  }

#paragraph-41-2 {
    font: bold 40px Arial;
    width: 300px;
    color: red;
  }

#paragraph-41-3 {
    font: italic bold 40px/60px Arial;
	text-indent: 50px;
  }



#paragraph-42 {
    text-indent: 50px;
  }



  #paragraph-44 {
    text-decoration: underline;
  }



  #paragraph-45 {
    text-decoration: overline;
    color: red;
  }



  #paragraph-46 {
    text-decoration: line-through;
    color: green;
  }



  #link-47 {
    color: red; 
    text-decoration: none;
  }



  #header-h1-48 {
    font-size: 40px;
    color: blue;
    text-align: center;
    width: 500px;
  }

  #header-h2-48 {
    font-size: 30px;
    font-weight: normal;
    color: green;
    text-align: center;
    width: 500px;
  }

  #paragraph-48 {
    text-indent: 50px;
    font-family: Arial;
    width: 500px;
    text-align: justify;
    line-height: 25px;
  }

  #points-48 {
    width: 400px;
    text-align: justify;
    line-height: 20px;
  }

  #script-48 {
    color: green;
  }



#header-51-h1, #header-51-h2, #header-51-h3 {
      text-align: center;
  }
  


#header-52-h1, #header-52-h2, #header-52-h3 {
      text-align: center;
  }
    
#header-52-h2{
    color: blue;
 }
  
#header-52-h3 {
    font-size: 16px;
	  color: red;
 }

 #header-52-h1-2, #header-52-h2-2, #header-52-h3-2 {
  text-align: center;
  color: red;
}

#header-52-h3-2 {
  font-size: 16px;
}



#ul-53 li i {
    color: red;
  }

  #paragraph-53 i {
    color: green;
  }

  #paragraph-53-2 b i {
    color: red;
  }



  #ul-54 li b {
    color: red;
  }



  .odd {
    color: red;
  }
  .eve {
    color: green;
  }

  .eee {
    color: red;
  }



  .xyx {
    font-size: 30px;
  }



  .red-57 {
    color: red;
  }
  .green-57 {
    color: green;
  }
  .blue-57 {
    color: blue;
  }



  .red-57-2 {
    color: red;
  }

  .green-57-2 {
    color: green;
  }



  .paragraph-58-1, .paragraph-58-2 {
    line-height: 1.5;
    font-family: Arial;
  }

  .paragraph-58-1 {
    font-size: 20px;
  }
  .paragraph-58-2 {
    font-size: 30px;
  }


  .eee-58, .zzz-58, .ggg-58 {
    text-align: center;
    font-family: Arial;
  }

  .eee-58 {
    font-size: 20px;
  }

  .zzz-58 {
    font-size: 30px;
  }

  .ggg-58 {
    font-size: 35px;
  }



  h2.header {
    font-size: 40px;
  }
  h3.header {
    font-size: 30px;
  }



  .eee-60 i {
    color: red;
  }



  .eee-61, .bbb-61 {
    color: red;
  }

  .eee-61-2 h2 {
    color: red;
  }

  .eee-61-3 h2.bbb-61-3 {
    color: red;
  }

  .eee-61-4 h3.bbb-61-4 {
    color: red;
   }

   .eee-61-5 p.bbb-61-5 {
    color: red;
   }

   .eee-61-6 .bbb-61-6 .kkk-61-6 {
    color: red;
   }



   p.bbb-62-1 {
    color: red;
   }

   p .bbb-62-2 {
    color: red;
   }

   .eee-62-3 p.bbb-62-3 {
    color: red;
   }

   .eee-62-4 p .bbb-62-4 {
    color: red;
   }



   .success-63 {
    color: green;
  }
  .error-63 {
    color: red;
  }
  .large-63 {
    font-size: 30px;
  }
  .small-63 {
    font-size: 20px;
  }
  
  
  .large-63-2 {
    font-size: 50px;
  }
  
  .bold-63 {
    font-weight: bold;
  }
  
  .blue-63 {
    color:blue
  }



  #elem1-64 {
    color: red
  }
  #elem2-64 {
    color:green
  }
  #elem3-64 {
    color:lightblue
  }



  #block-65 {
    font-size: 35px;
  }

  .text-65 {
    color:rgb(62, 22, 161)
  }



  #elem-66 h2 {
    color:darkblue;
  }

  #elem-66-2 .text-66-2 {
    color: darkgreen
  }

  #elem-66-3 .text-66-3 {
    color: darkorange
  }

  #elem-66-4 li.text-66-4 {
    color: greenyellow
  }



  .eee-67.zzz-67.ccc-67 {
    color: firebrick;
  }



  .bbb-68.zzz-68 {
    color: royalblue;
  }

  h2.bbb-68-2.zzz-68-2 {
    color: red;
  }

  #elem-68-3.bbb-68-3 {
    color: red;
   }

   #elem-68-4.bbb-68-4.zzz-68-4 {
    color: red;
  }

  h2#elem-68-5.bbb-68-5 {
    color: red;
   }
   


   h2.zzz-69 {
    color: red;
   }

   h2 .zzz-69-2 {
    color: red;
   }

   .bbb-69-3.zzz-69-3 {
    color: red;
   }

   .bbb-69-4 .zzz-69-4 {
    color: red;
   }

   .bbb-69-5.zzz-69-5.xxx-69-5 {
    color: red;
   }
   
   .bbb-69-6 .zzz-69-6.xxx-69-6 {
    color: red;
   }

   .bbb-69-7.zzz-69-7 .xxx-69-7 {
    color: red;
   }

   .bbb-69-8 .zzz-69-8 .xxx-69-8 {
    color: red;
   }

   #elem-69-9.bbb-69-9 {
    color: red;
   }

   #elem-69-10 .bbb-69-10 {
    color: red;
   }



   #block-70 h2, #block-70 h3 {
   text-align: center;
  }

  #block-70-2 h2, #block-70-2 h3 {
    text-align: center;
   }

   #block-70-2 h2{
    font-size: 30px;
   }

   #block-70-2 h3{
    font-size: 20px;
   } 




  #block-71 h1, #block-71 h2, #block-71 h3 {
    text-align: center;
  }
  #block-71 h2 {
    color: blue;
  }
  #block-71 h3 {
    font-size: 16px;
    color: red;
  }

  #block-71-2 h1.eee-71-2, #block-71-2  h2.zzz-71-2   {
    text-align: center;
  }

  #block-71-2 h1.eee-71-2 {
    font-size: 30px;
  }

  #block-71-2  h2.zzz-71-2  {
    text-align: center;
    font-size: 20px;
  }

  .xxx-71-3 .kkk-71-3, .eee-71-3 h2.zzz-71-3, #eee-71-3 h2 {
    text-align: center;
  }
  
  .eee-71-4 h2.zzz-71-4, .xxx-71-4{
    text-align: center;
  }

  

  #div-72 p {
    color: blue;
  }

  #div-72-2 h2 {
    color: blue;
  }

  #block-72-3 p {
    color: blue;
  }

  #block-72-4 h2 {
    color: blue;
  }

  .bbb-72-5 {
    color: blue;
  }

  #block-72-6 .bbb-72-6 {
    color: blue;
  }

  p.bbb-72-7  {
    color: blue;
  }

h2.bbb-72-8  {
    color: blue;
  }

  #block-72-9 p.bbb-72-9  {
    color: blue;
  }


  .bbb-72-10, .xxx-72-10 {
    color: blue;
  }

  p.bbb-72-11, h2.xxx-72-11 {
    color: blue;
  }

  #block-72-12 p.bbb-72-12, #block-72-12 p.xxx-72-12 {
    color: blue;
  }

  .fff-72-13  {
    color: blue;
  }

 .fff-72-14  p  {
    color: blue;
  }

  p.fff-72-15  {
    color: blue;
  }

  .fff-72-16 .bbb-72-16 {
    color: blue;
  }

  .fff-72-17 h2.bbb-72-17 {
    color: blue;
  }



  #elem-77-1 + li {
    color: red;
  }

  .elem-77-2 + li {
    color: red;
  }

  #elem-78 ~ li {
    color: red;
  }

  #main-79 * p {
    color: red;
  }



  [title].title-80 {
    color:blue
  }

  p[title].title-80-2{ 
    color: rgb(41, 144, 255); 
}

p[title="hello"].title-80-3 {
  color: rgb(255, 0, 149); 
}

a[href^="http://"].title-80-4 {
  color: red;
  text-decoration: underline;
}

a[href$=".html"].title-80-5 {
  color: seagreen;
  text-decoration: underline;
}

p[title*="hello"].title-80-6{
  color: green;
  font-weight: bold;
}

p[class^="top-"] {
  color: olive;
  font-style: italic;
}




a.href-82:link {
	color: lightblue;
}
a.href-82:visited {
	color: green;
}
a.href-82:hover {
	color: red;
}
a.href-82:active {
	color: Black;
}



a.href-84 {
	color: lightblue;
  text-decoration: none;
}
a.href-84:hover {
	color: red;
  text-decoration: underline;
}



a#test-85 {
	color: red;
}
a#test-85:hover  {
	text-decoration: none;
}



a.zzz-86 {
	color: red;
}
a.zzz-86:hover {
	text-decoration: none;
}

#block-86-2 a.zzz-86-2 {
	color: red;
}
#block-86-2 a.zzz-86-2:hover {
	text-decoration: none;
}

.block-86-3 a.zzz-86-3 {
	color: red;
}
.block-86-3 a.zzz-86-3:hover {
	text-decoration: none;
}



#li-87 li:first-child {
	color: red;
}

#li-87-2 li:last-child {
	color: green;
}

#li-87-3 li:first-child {
	color: red
}

#li-87-3 li:last-child {
	color: green;
}


#li-87-4 li:nth-child(3) {
	color: red;
}


#li-87-5 li:nth-child(even) {
	color: red;
}
#li-87-5 li:nth-child(odd) {
	color: green;
}

#li-87-6 li:nth-child(3n) {
	color: red;
}

#li-87-7 li:nth-child(4) {
	color: red;
}


#li-87-8 li:only-child {
	color: red;
}

#li-87-9 li:nth-child(-n+4) {
  border: 1px solid red;
  width: 100px;
  margin-bottom: 10px;
}

#li-87-9 li:empty {
	border: 1px solid blue;
	width: 100px;
}



#p-88-1 p:first-of-type {
	color: darkgoldenrod;
}

#p-88-1 h2:last-of-type {
	color: darkred;
}


#h3-88-2 h3:nth-of-type(2) {
	color: hotpink;
}

#h2-88-2 h2:nth-of-type(even) {
	color: rgb(0, 251, 255);
}

#h2-88-2 h2:nth-of-type(odd) {
	color: red;
}

#h2-88-3 h2:only-of-type {
	color: darkorchid;
}



#ul-89-1 li:not(.elem) {
	color: red;
}

#ul-89-2 li:not(:first-child) {
	color: red;
}


#ul-89-3 li:not(:first-child):not(:last-child){
	color: red;
}


#p-90-1{
  width: 200px;
	height: 200px;
  background-color: rgb(82, 139, 245); 
}

#h1-90-2{
  
  text-align: center;
  color: white;
  width: 300px;
	height: 200px;
  background-color: rgb(60, 255, 187); 
}


#elem-92 {
	border-width: 5px;
	border-style: solid;
	border-color: blue;
	width: 300px;
	height: 200px;
}

#elem-93 {
	border-width: 5px;
	border-style: dotted;
	border-color: red;
	width: 300px;
	height: 200px;
}

#elem-94 {
	border-width: 2px;
	border-style: dashed;
	border-color: orange;
	width: 300px;
	height: 200px;
}

#elem-96 {
	border-width: 10px;
	border-style: double;
	border-color: blue;
	width: 300px;
	height: 200px;
}

#elem-97-1 {
	border: 1px solid red;
	width: 300px;
	height: 200px;
}

#elem-97-2 {
	border: 2px dotted blue;
	width: 300px;
	height: 200px;
}

#elem-97-3 {
	border: 3px dashed green;
	width: 300px;
	height: 200px;
}

#elem-97-4 {
	border: 5px double orange;
	width: 300px;
	height: 200px;
}


#elem-98-1 {
	border-top: 3px solid blue;
  border-bottom: 3px solid red;
  border-left: 3px solid orange;
  border-right: 3px solid green;
	width: 300px;
	height: 200px;
}

#elem-98-2 {
	border-top: 1px solid blue;
  border-bottom: 1px solid blue;
  border-left: 3px solid red;
  border-right: 3px dotted green;
	width: 300px;
	height: 200px;
}

#elem-99 {
	width: 200px;
	height: 200px;
	border: 1px solid green;
	border-radius: 30px;
}

#elem-100 {
	width: 200px;
	height: 200px;
	border-radius: 20px;
  background-color: #4dee99;
}

#elem-101 {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	border: 1px solid green;
}

#elem-103 {
	width: 200px;
	height: 200px;
	border: 1px solid green;
	border-radius: 10px 30px 50px 70px;
}

#elem-104 {
	width: 200px;
	height: 200px;
	border: 1px solid green;
	border-radius: 10px 30px;
}

#elem-105 {
	width: 200px;
	height: 200px;
	border: 1px solid green;
	border-radius: 10px 30px 20px;
}

#elem-107 {
	width: 100px;
	height: 100px;
	border: 1px solid green;
	border-radius: 50%;
}


#ul-115 {
	list-style-type: square;
}

#ul-116 {
	list-style-type: circle;
}

#ul-118 {
	list-style-type: none;
}

#ol-122 {
	list-style-type: lower-alpha;
}

#ol-123 {
	list-style-type: upper-alpha;
}

#ol-124 {
	list-style-type: lower-greek;
}


#parent {
  width: 400px;
  border: 1px dashed blue;
}

#child {
  margin: 50px;
  height: 300px;
  border: 1px solid orange;
}


#elem1-126 {
  width: 400px;
  border: 1px dashed blue;
}

#elem2-126 {
  margin: 25px;
  border: 1px dashed green;
}

#elem3-126 {
  height: 200px;
  margin: 25px;
  border: 1px solid red;
}

#parent-127 {
	width: 200px;
	border: 1px solid red;
}
#child-127 {
	margin-top:    50px; /* сверху */
	margin-right:  50px; /* справа */
	margin-bottom: 100px; /* снизу */
	margin-left:   50px; /* слева */
	
	height: 100px;
	border: 1px solid green;
}


#parent-127-2 {
	width: 200px;
	border: 1px solid red;
}
#child-127-2 {
	margin-top:    50px; /* сверху */
	margin-right:  25px; /* справа */
	margin-bottom: 50px; /* снизу */
	margin-left:   25px; /* слева */
	
	height: 100px;
	border: 1px solid green;
}

#parent-127-3 {
	width: 200px;
	border: 1px solid red;
}
#child-127-3 {
	margin-top:    20px; /* сверху */
	margin-right:  75px; /* справа */
	margin-bottom: 20px; /* снизу */
	margin-left:   75px; /* слева */
	
	height: 100px;
	border: 1px solid green;
}


#parent-129 {
	width: 300px;
	border: 1px solid orange;
}
#child-129 {
	height: 100px;
	border: 1px dashed blue;
	margin: 25px 50px 100px 10px;
}

	#parent-130 {
	width: 200px;
	border: 1px solid orange;
	}
	#child-130 {	
  margin: 100px 50px;
	height: 50px;			
  border: 1px dashed blue;
	}

#parent-130-2 {
width: 200px;
border: 1px solid orange;
}
#child-130-2 {	
margin: 25px 50px;
height: 50px;			
border: 1px dashed blue;
}
		
#parent-131 {
width: 200px;
border: 1px solid orange;
}
#child-131 {	
margin: 100px 50px 30px;
height: 50px;			
border: 1px dashed blue;
}

#parent-131-2 {
width: 400px;
border: 1px solid orange;
}
#child-131-2 {	
margin: 30px 100px 50px;
height: 50px;			
border: 1px dashed blue;
}


#elem-132 {
  padding: 50px;
  width: 200px;
  border: 1px solid red;
  text-align: justify;
}
#elem-132-2 {
  width: 500px;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid green;
  text-align: justify;
}
#elem-132-2-2 {
  width: 300px;
  padding: 10px;
  margin-left: 50px;
  border: 1px solid red;
  text-align: justify;
}

#elem-133 {
  padding-top:    50px;
  padding-right:  30px;
  padding-bottom: 100px;
  padding-left:   30px;
  width: 200px;
  border: 1px solid red;
  text-align: justify;
}

#elem-134 {
  padding: 10px 20px 30px 40px;
  width: 300px;
  border: 1px solid red;
  text-align: justify;
}

#elem-134-2 {
  width: 300px;
  border: 1px solid red;
  text-align: justify;
  padding: 60px 30px;
}

#elem-134-3 {
  width: 300px;
  border: 1px solid red;
  text-align: justify;
  padding: 10px 20px 40px;
}

#elem-138 {
	width: 100px;
	height: 100px;
	background: #28620d;
	margin-bottom: 20px;
}

#elem-138-2 {
	width: 100px;
	height: 100px;
	background: #28620d;
	padding: 25px; /* задаем отступы */
	border: 10px solid rgb(30, 255, 0);  /* задаем границу */
	box-sizing: border-box;  /* убираем расширение */
}

#p-150 {
	display: inline;
	width: 100px;
	height: 100px;
	border: 1px solid gold;
}

#p-150-2 {
    display: block;
    width: 100px;
    height: 100px;
    border: 2px solid gold;
    margin-bottom: 10px;
  }

  .elem-155{
  width: 100px;
  height: 100px;
  border: 1px solid red;
  display: inline-block;
  }
			
  #parent-156 {
    border: 1px solid red;
    width: 400px;
  }
  

			#child-156 {
				height: 100px;
				width: 100px;
				border: 1px solid green;
				margin: 10px auto;
			}
			#child-156-2 {
				height: 100px;
				width: 200px;
				border: 1px solid green;
				margin: 10px auto;
			}
			#child-156-3 {
				height: 100px;
				width: 300px;
				border: 1px solid green;
				margin: 10px auto;
			}
		

      .parent-161 {
        padding: 10px 0;
        border: 1px solid red;
        text-align: center;
      }

      .parent-162 {
        padding: 10px 100px;
        border: 1px solid red;
        text-align: right;
      }

      .parent-164 {
        text-align: center;
        padding: 10px 0;
        border: 1px solid red;
 
      }
      .child-164 {
        display: inline-block;
        padding: 10px;
        border: 1px solid green;
        margin-left: 5px;
        margin-right: 5px;
      }

      .parent-165 { 
        padding: 10px 0; 
        border: 1px solid red; 
        text-align: right; 
       } 
       
       .child-165 { 
        padding: 10px; 
        border: 1px solid green; 
        display: inline-block; 
        
       }

       .parent-165-2 { 
        padding: 10px 20px 10px 10px;
        border: 1px solid red; 
        text-align: right;
       } 
       
       .child-165-2 { 
        padding: 10px; 
        border: 1px solid green; 
        display: inline-block; 
        
       }

       .parent-165-3 { 
       padding: 10px 0;
        border: 1px solid red; 
        text-align: right;
       } 
       .child-165-3 { 
        margin-right: 20px;
        padding: 10px ; 
        border: 1px solid green; 
        display: inline-block; 
       }

       .parent-165-4 {
        padding: 10px 0;
        border: 1px solid red;
        text-align: right;
      }
      .child-165-4 {
        padding: 10px;
        border: 1px solid green;
        display: inline-block; 
        
      }

      .parent-165-5 {
        padding: 10px 0;
        border: 1px solid red;
        text-align: center;
      }
      .child-165-5 {
        padding: 10px;
        border: 1px solid green;
        display: inline-block;   
      }



.parent-166 {
display: flex;
width: 900px;
height: 400px;
margin: 20px auto;
border: 1px solid red;
}
.child-166 {
width: 120px;			
height: 60px;
border: 1px solid green;
}


.parent-167 {
  display: flex;
  width: 900px;
  margin: 20px auto;
  border: 1px solid red;
}
.child-167 {
  width: 120px;
  height: 100px;
  border: 1px solid green;
}

.parent-168 {
	display: flex;
	border: 1px solid red;
}
.child-168 {
	width: 120px;;
	height: 100px;
	border: 1px solid green;
}

.parent-169 {
  display: inline-flex;
  border: 1px solid red;
}
.child-169 {
  width: 120px;
  height: 60px;
  border: 1px solid green;
}


.parent-170 {
  display: inline-flex;
  padding: 20px;
  border: 1px solid red;
}
.child-170 {
  width: 120px;
  height: 60px;
  border: 1px solid green;
}
